.card-text {
  background-color: #F8F9FA;
}

.card-image {
  background-color: #053B6E;
}

.card-form {
  background-color: #F8F9FA;
  margin-top: 2rem;
}

.edit-form {
  padding: 1.5rem;
}

.welcome-text {
  padding: 1.5rem;
}

.logo {
  color: white;
}

.welcome {
  padding: 1rem 1rem;
}

.heading {
  padding-top: .5rem;
}
